* {
   margin: 0;
   padding: 0;
}
 .header {
     height: 100vh;
 } 
  .navbar-style {
      background-color: rgb(197, 171, 197);
      box-shadow: 0 5px 10px rgb(177, 109, 177);
      text-transform: uppercase;
  }
  .logo {
      padding: 10px 20px;
  }
  .icon-bar {
      background: blue;
  }
  li a {
      color: #333;
      margin-top: 24px;
  }
  .big-text {
      font-size: 52px;
      margin: 20px 0;
      color:  rgb(161, 85, 161);
  }
  a.btn {
      margin: 30px 10px;
      width: 150px;
      padding: 10px;
      border-radius: 20px;
  }
  a.btn-first {
      background-color: rgb(161, 85, 161);
      color: white;
      font-weight: bold;
  }
  a.btn-second {
      background: transparent;
      border: 2px solid;
      color: rgb(161, 85, 161);
      font-weight: bold;
  }
  a.btn:hover {
      background: purple;
      border: none;
      color: white;
      box-shadow: 5px 5px 10px #999;
      transition: 0.3s;
  }
  .banner-info, .banner-image {
      margin: 30px 0;
  }
  .img2 {
    box-shadow: 7px 7px 10px rgb(177, 109, 177);
  }